.my-pagination ::ng-deep .ngx-pagination .current {
  background-color: #0aad0a;
  -o-border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  border-radius: 20%;
}
